.BlackMirror {
    // height: 80vh;
    width: 100%;
    margin: 0px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        border-radius: 10px;
    }
    & h1 {
        font-size: 2.6rem;
        text-align: center;
    }
    .tytul {
        background: $b-ciemny;
        position: relative;
        height: 100vh;
        width: 100%;
        margin: auto;
        color: $jasny;
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
            margin: 0;
            font-size: 4rem;
            // background: black;
        }
        p {
            margin: 0;
            font-size: 1.5rem;
        }

        a {
            position: absolute;
            bottom: 2rem;
            color: $jasny;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-tap-highlight-color: transparent;
        }
    }
    .opis {
        padding-top: 5rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 700px;
            max-width: 98%;
        }
        h1 {
            margin: 0;
            margin-top: 3rem;
        }
    }
    .technologie {
        margin-top: 8rem;
        h1,
        h5 {
            margin: 0;
            text-align: center;
        }

        .technologia {
            margin-bottom: 4rem;
            margin-top: 1rem;
            &:nth-child(2n) {
                .tresc {
                    flex-direction: row-reverse;
                }
            }
            .tresc {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                div {
                    width: 50%;

                    p {
                        // width: 50%;

                        text-align: center;
                    }
                }
                img {
                    max-width: 40%;
                    min-width: 200px;
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: $smartfon) {
    .BlackMirror {
        .technologie {
            .technologia {
                .tresc {
                    flex-direction: column;
                    div {
                        width: 90%;
                    }
                    img {
                        max-width: unset;
                        width: 84%;
                        max-height: unset;
                    }
                }
            }
        }
    }
}
