
footer{
    width: 100%;
    min-height: 5rem;
    padding: 2rem;
    background: $b-ciemny;
    color: $jasny;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    text-align: center;
   
   
    a{

        color: rgba($jasny, 0.7);
        text-decoration: none;
        &:hover{
            color: $jasny;
        }
    }
}

