@import "./zmienne.scss";
@import "./strona-glowna.scss";
@import "./navbar.scss";
@import "./BlackMirror.scss";
@import "./aplikacje.scss";
@import "./oStronie.scss";
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: $jasny;
    margin: 0px;
}

.text-center {
    text-align: center;
}
